// Colores
// rojo = #BB3825
rojo = #AB2815
// azul = #2455C3
azul = #0435A3


body
html
	height 100%
	margin 0
	padding 0

body
	background #fff
	font-family Lato, Lucida Grande, Arial, Sans-serif
	font-size 16px

a
	color black
	text-decoration none
	&:hover
		color rojo

#contenido
	margin-left 2em
	max-width 720px
	padding 1% 1% 0 1%

	header
		display block
		margin 0
		overflow hidden
		padding 1%
		width 98%
		h1
			font-family Lato, Lucida Sans, Arial, Sans-serif
			margin 0
			padding 0
			max-width 50%
			a
				border-radius 2px
				padding 0.1em
				border 0
				color #000
				&:hover
						color rojo
		p.subtitulo
			display inline-block
			margin 0
			padding 0
			float left
			font-size 14px
			line-height 14px
			width 50%

		nav
			display inline-block
			float right
			font-family Lato, Arial
			margin -2.4em 0 0 0
			max-width 50%
			padding 0
			ul
				list-style none
				margin 0
				padding 0.5em 0 0.5em 0.5em
				li
					display inline
					margin-right 0.5em
					padding 0
					a
						border-bottom 1px solid #ddd
						color #222
						font-weight normal
						font-size 14px

		form
			display inline-block
			float right
			font-family Lato, Arial
			margin -1.5em 0 0 0
			max-width 50%
			padding 0

			input[type="text"]
				border solid 1px #ddd
				padding 0.2em
				margin 0

			input[type="button"]
				background #111
				color #ddd
				border 1px solid #333
				padding 0.2em 0.5em
				font-size 0.9em
				margin 0
				font-weight bold

	section
		display block
		margin 0 0 1em 0
		padding 0 1%
		width 78%
		float right

		article.ultimo_articulo
			font-size 18px
			margin 1em 0
			padding 0%
			width 100%

			h2
				font-family "Merriweather", Cambria
				line-height 26px
				font-size 26px
				margin 0 0 0.2em 0
				padding 0

				a
					color rojo
					&:hover
						color #000
			span.fecha_articulo
				font-family Lato, Arial, Sans-serif
				font-weight normal
				color #111
				line-height 14px
				font-size 0.9em
				font-weight bold
			p
				font-size 16px
				line-height 22px
				margin 0.5em 0
				padding 0
				a
					border-bottom 1px solid #ddd
					color azul
					&:hover
						color #000
						border-bottom 1px solid #aaa
			ul
				font-size 0.9em
				line-height 1.4em

		article.lista_articulos
			margin 1.5em 0
			h3
				display inline
				font-size 1.2em
				font-family "Merriweather", Cambria

				a
					color rojo
			span.fecha_articulo
				padding 0.2em
				font-family Lato, Arial
				font-size 0.9 em
				font-weight bold
				color #111
				&:after
					content " ∙"
			p
				display inline
				font-size 14px
				line-height 20px
				a
					color azul
					border-bottom 1px solid #ddd
					font-weight bold
					&:hover
						color #000
						border-bottom 1px solid #aaa
				a.seguir_leyendo
					color #111
					&:after
						content "→"

	aside
		float left
		width 18%
		padding 2% 1%
		font-size 0.9em
		margin 0.5em 0

		h3
			margin 0.5em 0
		p
			margin 0.5em 0
			padding 0
		ul
			list-style none
			margin 0
			padding 0
			width 100%
			li
				margin 0
				padding 0.2em 0.5em
				display block
				// text-transform uppercase
				a
					font-weight bold
			li.activo
				background #eee
				border-bottom 1px solid #ddd
	.mas_articulos
		a
			font-weight bold
			&:before
				content  "←"


	footer
		border-top 1px solid #ddd
		color #333
		font-size 14px
		height 50px
		margin 2em 0 0 0
		overflow hidden
		padding 0 1%
		width 98%
		a
			color #000
			font-weight bold
		.licencia
			&:before
				content "—"
		.arriba
			&:after
				content "↑"


.left
	float left
.right
	float right


@media (max-width: 640px)
// @media (min-width: 100px), (min-height: 200px)
	#contenido
		margin 0 auto
		header
			h1
				display inline-block
				float left
				min-width 100%
				text-align center
			p.subtitulo
				display inline-block
				float left
				min-width 100%
				text-align center
			nav
				display inline-block
				float left
				margin 0.5em 0 0 0
				min-width 100%
				text-align center
				vertical-align top
			form
				display inline-block
				float left
				margin 0.5em 0 0 0
				min-width 100%
				text-align center
				vertical-align top

		section
			float left
			width 98%
			article
			article.lista_articulos
				p
					font-size 16px

		aside
			float left
			max-width 98%
			display inline-block
			padding 0 1%
			font-size 0.9em
			margin 0 0 1em 0

