body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-family: Lato, Lucida Grande, Arial, Sans-serif;
  font-size: 16px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ab2815;
}
pre {
  font-size: 0.8em;
}
#contenido {
  margin-left: 2em;
  max-width: 720px;
  padding: 1% 1% 0 1%;
}
#contenido header {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 1%;
  width: 98%;
}
#contenido header h1 {
  font-family: Lato, Lucida Sans, Arial, Sans-serif;
  margin: 0;
  padding: 0;
  max-width: 50%;
}
#contenido header h1 a {
  border-radius: 2px;
  padding: 0.1em;
  border: 0;
  color: #000;
}
#contenido header h1 a:hover {
  color: #ab2815;
}
#contenido header p.subtitulo {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 14px;
  line-height: 14px;
  width: 50%;
}
#contenido header nav {
  display: inline-block;
  float: right;
  font-family: Lato, Arial;
  margin: -2.4em 0 0 0;
  max-width: 50%;
  padding: 0;
}
#contenido header nav ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 0 0.5em 0.5em;
}
#contenido header nav ul li {
  display: inline;
  margin-right: 0.5em;
  padding: 0;
}
#contenido header nav ul li a {
  border-bottom: 1px solid #ddd;
  color: #222;
  font-weight: normal;
  font-size: 14px;
}
#contenido header form {
  display: inline-block;
  float: right;
  font-family: Lato, Arial;
  margin: -1.5em 0 0 0;
  max-width: 50%;
  padding: 0;
}
#contenido header form input[type="text"] {
  border: solid 1px #ddd;
  padding: 0.2em;
  margin: 0 0 0 0;
}
#contenido header form input[type="button"] {
  background: #111;
  color: #ddd;
  border: 1px solid #333;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  margin: -1em 0 1em 0;
  font-weight: bold;
}
#contenido section {
  display: block;
  margin: 0 0 1em 0;
  padding: 0 1%;
  width: 78%;
  float: right;
}
#contenido section article a,
#contenido section article ul li a {
  color: #0435a3;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
#contenido section article a:hover,
#contenido section article ul li a:hover {
  color: #000;
  border-bottom: 1px solid #aaa;
}
#contenido section a.compartir_articulo {
  border: 0;
  padding: 0;
  margin: 0;
}
#contenido section .articulo_navegacion {
  display: block;
  font-size: 0.8em;
}
#contenido section .articulo_navegacion a {
  color: #111;
  font-weight: bold;
}
#contenido section .articulo_navegacion a.anterior:before {
  content: "← ";
}
#contenido section .articulo_navegacion a.siguiente:after {
  content: " →";
}
#contenido section article.ultimo_articulo {
  font-size: 18px;
  margin: 1em 0;
  padding: 0%;
  width: 100%;
}
#contenido section article.ultimo_articulo h2 {
  font-family: "Merriweather", Cambria;
  line-height: 26px;
  font-size: 26px;
  margin: 0 0 0.2em 0;
  padding: 0;
}
#contenido section article.ultimo_articulo h2 a {
  color: #ab2815;
  font-weight: bold;
  border: 0;
}
#contenido section article.ultimo_articulo h2 a:hover {
  color: #000;
}
#contenido section article.ultimo_articulo span.fecha_articulo {
  font-family: Lato, Arial, Sans-serif;
  font-weight: normal;
  color: #111;
  line-height: 14px;
  font-size: 0.9em;
  font-weight: bold;
}
#contenido section article.ultimo_articulo p {
  font-size: 16px;
  line-height: 22px;
  margin: 0.5em 0;
  padding: 0;
}
#contenido section article.ultimo_articulo p a {
  border-bottom: 1px solid #ddd;
  color: #0435a3;
}
#contenido section article.ultimo_articulo p a:hover {
  color: #000;
  border-bottom: 1px solid #aaa;
}
#contenido section article.ultimo_articulo ul {
  font-size: 0.9em;
  line-height: 1.4em;
}
#contenido section article.lista_articulos {
  margin: 1.5em 0;
}
#contenido section article.lista_articulos h3 {
  display: inline;
  font-size: 1.2em;
  font-family: "Merriweather", Cambria;
}
#contenido section article.lista_articulos h3 a {
  color: #ab2815;
  font-weight: bold;
  border: 0;
}
#contenido section article.lista_articulos span.fecha_articulo {
  padding: 0.2em;
  font-family: Lato, Arial;
  font-size: 0.9em;
  font-weight: bold;
  color: #111;
}
#contenido section article.lista_articulos span.fecha_articulo:after {
  content: " ∙";
}
#contenido section article.lista_articulos p {
  display: inline;
  font-size: 14px;
  line-height: 20px;
}
#contenido section article.lista_articulos p a.seguir_leyendo {
  color: #111;
  font-weight: bold;
}
#contenido section article.lista_articulos p a.seguir_leyendo:after {
  content: " →";
}
#contenido aside {
  float: left;
  width: 18%;
  padding: 2% 1%;
  font-size: 0.9em;
  margin: 0.5em 0;
}
#contenido aside h3 {
  margin: 0.5em 0;
}
#contenido aside p {
  margin: 0.5em 0;
  padding: 0;
}
#contenido aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#contenido aside ul li {
  margin: 0;
  padding: 0.2em 0.5em;
  display: block;
}
#contenido aside ul li a {
  font-weight: bold;
}
#contenido aside ul li.activo {
  background: #eee;
  border-bottom: 1px solid #ddd;
}
#contenido .mas_articulos a {
  font-weight: bold;
}
#contenido .mas_articulos a:before {
  content: "← ";
}
#contenido footer {
  border-top: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  height: 50px;
  margin: 2em 0 0 0;
  overflow: hidden;
  padding: 0 1%;
  width: 98%;
}
#contenido footer a {
  color: #000;
  font-weight: bold;
}
#contenido footer .licencia:before {
  content: "— ";
}
#contenido footer .arriba:after {
  content: " ↑";
}
.left {
  float: left;
}
.right {
  float: right;
}
@media (max-width: 640px) {
  #contenido {
    margin: 0 auto;
  }
  #contenido header h1 {
    display: inline-block;
    float: left;
    min-width: 100%;
    text-align: center;
  }
  #contenido header p.subtitulo {
    display: inline-block;
    float: left;
    min-width: 100%;
    text-align: center;
  }
  #contenido header nav {
    display: inline-block;
    float: left;
    margin: 0.5em 0 0 0;
    min-width: 100%;
    text-align: center;
    vertical-align: top;
  }
  #contenido header form {
    display: inline-block;
    float: left;
    margin: 0.5em 0 0 0;
    min-width: 100%;
    text-align: center;
    vertical-align: top;
  }
  #contenido section {
    float: left;
    width: 98%;
  }
  #contenido section article p,
  #contenido section article.lista_articulos p {
    font-size: 16px;
  }
  #contenido aside {
    float: left;
    width: 98%;
    display: inline-block;
    padding: 0 1%;
    font-size: 0.9em;
    margin: 0 0 1em 0;
    text-align: center;
  }
  #contenido aside ul {
    list-style: none;
    display: inline;
  }
  #contenido aside ul li {
    display: inline;
    list-style: none;
    margin-right: 2px;
    padding: 2px 20px;
    text-align: center;
  }
}
