---
layout: default
---
<article class="ultimo_articulo">
  <h2>{{ page.title }}</h2>
  <span class="fecha_articulo">{{ page.date | date: "%d %b %Y" }}</span>
  {{ content }}
</article>

<div class="compartir_articulo">
    <a href="http://www.facebook.com/sharer.php?u={{ page.url | prepend: site.url }}"><img src="{{ "/img/fb-compartir.png" | prepend: site.baseurl }}" height="20" width="64" border="0" alt="Compartir en Facebook" title="Compartir en Facebook" /></a>


    <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ page.url | prepend: site.url }}"><img src="{{ "/img/tweet.png" | prepend: site.baseurl }}" height="20" width="67" border="0" alt="Tuitear" title="Tuitear" /></a>
</div>
